* {
    padding: 0;
    margin: 20px;
    font-size: 40px;
  }

  .box-one {
    background-color: red;
    border-width: 20px;
    padding: 20px;
    border: 0 solid purple;

  } 

  .box-two {
    background-color: blue;
    border: 0 solid yellow;
    border-width: 20px;
    padding: 20px;
  }